.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.pagination a {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  text-decoration: none;
}
.pagination a:hover {
  background-color: var(--primary);
  color: var(--white);
}

.pagination a.active {
  background-color: var(--primary);
  color: var(--white);
}
