:root {
  --primary: #7db392;
  --primary-80: rgba(125, 179, 146, 0.8);
  --primary-70: rgba(125, 179, 146, 0.8);
  --primary-60: rgba(125, 179, 146, 0.8);
  --primary-10: rgba(125, 179, 146, 0.1);
  --bg-primary: #10101a;
  --bg-primary-opacity-80: rgba(16, 16, 26, 0.8);
  --white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ebecf0;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #222;
    color: #eee;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
